.good-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 220px;
  margin-left: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
  font: var(--font-main);

  &:first-child {
    margin-left: 0;
  }

  &--action {
    .good-card__info {
      padding-top: 0;
    }
  }

  &--border_green {
    border-color: var(--color-green);
    .action-line {
      &__discount {
        background-color: var(--color-green);
        &:after {
          border-left-color: var(--color-green);
          border-top-color: var(--color-green);
        }
      }
    }
  }

  &--border_yellow {
    border-color: var(--color-yellow);
    .action-line {
      &__discount {
        background-color: var(--color-yellow);
        &:after {
          border-left-color: var(--color-yellow);
          border-top-color: var(--color-yellow);
        }
      }
    }
  }

  &--border_red {
    border-color: var(--color-red);
    .action-line {
      &__discount {
        background-color: var(--color-red);
        &:after {
          border-left-color: var(--color-red);
          border-top-color: var(--color-red);
        }
      }
    }
  }


  &__info {
    padding: 40px var(--good-card-padding) 0 var(--good-card-padding);
  }

  &__picture {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }

  &__image {
    max-width: 100%;
    height: 180px;
  }

  &__rating {
    margin: 10px 0;
  }

  &__title {
    display: -webkit-box;
    margin: 10px 0 20px 0;
    color: var(--text-color-main);
    font-size: 12px;
    line-height: 1.2;
    border-bottom: none;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__shield { }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: baseline;
    padding: 0 var(--good-card-padding) var(--good-card-padding) var(--good-card-padding);
    margin-top: 20px;
  }

  &__price { }

  &__cart-button { }
}
