.price-label {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-light);
  border-radius: 2px;

  &__price {
    padding: 2px 10px;
    border-radius: 2px 0 0 2px;
    white-space: nowrap;
    font-family: var(--price-font-family);
    font-size: 16px;
    background-color: var(--color-green);
    color: var(--text-color-white);
  }
  &__text {
    font-size: 12px;
    padding: 0 10px;
  }

  &--green {
    .price-label__price {
      background-color: var(--color-green);
      color: var(--text-color-white);
    }
  }

  &--yellow {
    .price-label__price {
      background-color: var(--color-yellow);
      color: var(--text-color-black);
    }
  }

  &--red {
    .price-label__price {
      background-color: var(--color-red);
      color: var(--text-color-white);
    }
  }

  &--wide {
    width: 100%;
  }
}
