.link {
  text-decoration: none;
  color: var(--text-color-green);
  border-bottom: 1px solid currentColor;
  transition: color var(--time) ease, border var(--time) ease;

  &--underline {
    border-bottom-style: solid;
  }

  &--dotted {
    border-bottom-style: dotted;
  }

  &--same-color {
    color: currentColor;
    border-bottom-color: currentColor;

    &:hover,
    &:active {
      color: var(--text-color-green);
      border-bottom-color: var(--color-green);
    }
  }
}
