.link {
  text-decoration: none;
  color: var(--text-color-green);
  border-bottom: 1px solid currentColor;
  transition: color var(--time) ease, border var(--time) ease;
  &:hover,
  &:active {
    color: var(--text-color-green);
    border-bottom-color: var(--color-green);
  }

  &--underline {
    border-bottom-style: solid;
  }

  &--dotted {
    border-bottom-style: dotted;
  }

  &--green {
    color: var(--text-color-green);
  }

  &--blue {
    color: var(--text-color-blue);
  }

  &--same-color {
    color: currentColor;
  }
}
