.good-listing {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid var(--color-gray);
  border-radius: 2px;
  color: var(--text-color-dark);
  font: var(--font-main);

  &__picture {
    position: relative;
    width: 20%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 0;

    &-link {
      display: block;
      margin: 50px 0 0 0;
      text-decoration: none;
      border: none;
    }

    &-img {
      max-width: 100%;
      max-height: 200px;
    }
  }

  &__info {
    width: 50%;
    padding: 20px 0;
  }

  &__buy {
    width: 30%;
    min-width: 270px;
    background-color: var(--color-light-2);
    border-left: 1px solid var(--color-gray);
    padding: 20px 0;
  }

  &__message {
    text-align: center;
    font: var(--font-introduction);
    font-weight: bold;
  }

  &__shields {
    text-align: center;
    &-title { }
  }

  &__rating {
    display: inline-flex;
    margin-right: 20px;
  }

  &__art {
    color: var(--text-color-light);
  }

  &__section {
    padding: 5px 20px;

    &--line {
      margin: 10px 0;
      padding: 10px 20px;
      border: 1px solid var(--color-gray);
      border-width: 1px 0 1px 0;
    }

    &--space-between {
      display: flex;
      justify-content: space-between;
    }

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }

  &__title {
    font: var(--font-section);
    word-break: break-word;
    border-bottom: none;
    color: inherit;
  }

  &__image-shield {
    position: absolute;
    left: 10px;
    top: 50px;
  }

  &__buy-button {
    margin-bottom: 10px;
  }

  &--action {
    border-color: var(--color-green);
  }
}
