@font-face {
  font-family: 'DINPro';
  src: url('assets/fonts/DINPro/DINPro.otf');
  font-weight: normal;
}
@font-face {
    font-family: 'Graphik_LC';
    src: url('assets/fonts/Graphik_LC/Graphik_LC-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Graphik_LC';
    src: url('assets/fonts/Graphik_LC/Graphik_LC-Medium.otf');
    font-weight: bold;
}
