.container {
  width: 80%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.section {
  margin: 20px 0;
}

.example {
  margin: 15px 0;

  &__component {
    margin: 10px 20px 10px 0;
    &:last-child {
      margin: 10px 0;
    }
  }

  &--inline {
    display: flex;
    align-items: flex-end;
  }
}
