@font-face {
  font-family: 'DINPro';
  src: url('assets/fonts/DINPro/DINPro.otf');
  font-weight: normal;
}
@font-face {
    font-family: 'Graphik_LC';
    src: url('assets/fonts/Graphik_LC/Graphik_LC-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Graphik_LC';
    src: url('assets/fonts/Graphik_LC/Graphik_LC-Medium.otf');
    font-weight: bold;
}

::selection {
  background-color: lighten($interfaceGreen, 40%);
}

h1 { font-size: 34px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

.title {
  font-family: var(--main-font-family);
  font-weight: bold;
  margin: 0.8em 0;

  &--type_black {
    font-family: var(--price-font-family);
    font-stretch: condensed;
    font-weight: normal;
  }
  &--size_xl {
    font-size: var(--title-size-xl);
  }
  &--size_l {
    font-size: var(--title-size-l);
  }
  &--size_m {
    font-size: var(--title-size-m);
  }
  &--size_s {
    font-size: var(--title-size-s);
  }
  &--color_black {
    color: var(--text-color-main);
  }
  &--color_main {
    color: var(--text-color-main);
  }
  &--color_dark {
    color: var(--text-color-dark);
  }
  &--color_medium {
    color: var(--text-color-medium);
  }
  &--color_gray {
    color: var(--text-color-gray);
  }
  &--color_light {
    color: var(--text-color-light);
  }
  &--color_white {
    color: var(--text-color-white);
  }
  &--color_green {
    color: var(--text-color-green);
  }
  &--color_red {
    color: var(--text-color-red);
  }
  &--color_blue {
    color: var(--text-color-blue);
  }
}

p { font: var(--font-main); }

%--text-hilight-type {
  padding: 2px 4px;
  border-radius: 2px;
}

.text {
  font-family: var(--main-font-family);
  line-height: 1.4;

  &--main {
    font: var(--font-main);
  }
  &--introduction {
    font: var(--font-introduction);
  }
  &--section {
    font: var(--font-section);
  }
  &--title {
    font: var(--font-title);
  }
  &--paragraph {
    font: var(--font-main);
  }
  &--secondary {
    font: var(--font-secondary);
  }
  &--highlight_green {
    @extend %--text-hilight-type;
    background-color: lighten($interfaceGreen, 40%);
  }
  &--highlight_red {
    @extend %--text-hilight-type;
    background-color: lighten($interfaceRed, 40%);
  }
  &--highlight_yellow {
    @extend %--text-hilight-type;
    background-color: lighten($interfaceYellow, 10%);
  }
  &--highlight_black {
    @extend %--text-hilight-type;
    background-color: var(--color-black);
  }
  &--bold {
    font-weight: bold;
  }
  &--error {
    color: var(--text-color-red);
  }
  &--color_main {
    color: var(--text-color-main);
  }
  &--color_black {
    color: var(--text-color-main);
  }
  &--color_dark {
    color: var(--text-color-dark);
  }
  &--color_medium {
    color: var(--text-color-medium);
  }
  &--color_gray {
    color: var(--text-color-gray);
  }
  &--color_light {
    color: var(--text-color-light);
  }
  &--color_white {
    color: var(--text-color-white);
  }
  &--color_green {
    color: var(--text-color-green);
  }
  &--color_red {
    color: var(--text-color-red);
  }
  &--color_blue {
    color: var(--text-color-blue);
  }
}
