$textMain: #262626;
$textDark: #434343;
$textMedium: #555555;
$textGray: #7B7B7B;
$textLight: #9D9D9D;
$textGreen: #76BC21;
$textRed: #E01E3E;
$textYellow: #F69E41;
$textWhite: #FFFFFF;

$interfaceBlack: #262626;
$interfaceGray: #D9D9D9;
$interfaceGreen: #76BC21;
$interfaceRed: #E01E3E;
$interfaceWhite: #FFFFFF;
$interfaceYellow: #FFE066;

:root {

  --border-radius: 2px;

  --main-font-family: Graphik_LC, Helvetica, Arial, sans-serif;
  --font-introduction: normal 18px/1.4 var(--main-font-family);
  --font-section: normal 16px/1.4 var(--main-font-family);
  --font-title: normal 14px/1.4 var(--main-font-family);
  --font-main: normal 12px/1.4 var(--main-font-family);
  --font-secondary: normal 11px/1.4 var(--main-font-family);

  --text-color-main: #{$textMain};
  --text-color-dark: #{$textDark};
  --text-color-medium: #{$textMedium};
  --text-color-gray: #{$textGray};
  --text-color-light: #{$textLight};
  --text-color-green: #{$textGreen};
  --text-color-red: #{$textRed};
  --text-color-yellow: #{$textYellow};
  --text-color-white: #{$textWhite};

  --color-green: #{$interfaceGreen};
  --color-red: #{$interfaceRed};
  --color-gray: #{$interfaceGray};
  --color-white: #{$interfaceWhite};
  --color-yellow: #{$interfaceYellow};

  --price-font-family: DINPro, Helvetica, Arial, sans-serif;
  --price--color-main: #{$textMain};
  --price--color-old: #{$textLight};
  --price--color-discount: #{$textWhite};
  --price-font-size-l: 48px;
  --price-font-size-m: 34px;
  --price-font-size-s: 30px;

  --time: .2s;
  --border-radius: 2px;
  --input-padding: 10px;

}
