.input {
  position: relative;
  box-sizing: border-box;
  margin: var(--input-margin) 0;
  font: var(--font-main);

  &__label {
    display: inline-block;
    margin: var(--input-margin) 0;
  }

  &__text {
    display: block;
    box-sizing: border-box;
    margin: calc(1em + var(--input-margin) * 2) 0 0 0;
    width: 100%;
    padding: var(--input-padding);
    font: inherit;
    border: 1px solid var(--color-gray);
    border-radius: 2px;

    & ~ .input__label {
      position: absolute;
      top: var(--input-padding);
      left: var(--input-padding);
      margin: 0;
      transition: all var(--time) ease;
      opacity: 1;
      pointer-events: none;
    }

    &:focus ~ .input__label,
    &:valid ~ .input__label {
      top: calc(-1em - var(--input-margin));
      left: 0;
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      border-color: var(--color-green);
      box-shadow: 0 0 2px 0 var(--color-green);
    }
  }

  &__checkbox, &__radio {
    position: absolute;
    font-family: inherit;
    appearance: none;
    display: none;
    z-index: -1;
    opacity: 0;

    & + .input__label {
      display: inline;
      position: relative;
      margin: 0;
      padding-left: 1.5em;
      cursor: pointer;
    }

    & + .input__label:before {
      content: '';
      position: absolute;
      width: 1em;
      height: 1em;
      top: 0;
      left: 0;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      transition: background var(--time) ease;
    }

    &:checked + .input__label:before {
      content: '';
    }
  }

  &__checkbox {
    & + .input__label:before {
      background-image: url('./components/input/checkbox--gray.svg');
    }

    &:checked + .input__label:before {
      background-image: url('./components/input/checkbox--green-checked.svg');
    }
  }

  &__radio {
    & + .input__label:before {
      background-image: url('./components/input/radio--gray.svg');
    }

    &:checked + .input__label:before {
      background-image: url('./components/input/radio--green-checked.svg');
    }
  }

  &__select {
    width: 100%;
    appearance: none;
    user-select: none;
    -webkit-appearance: none;
    text-overflow: ellipsis;
    outline: none;
    padding: var(--input-padding);
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 2px;
    background-color: var(--color-white);
    background-image: url('./components/input/select--gray.svg');
    background-position: calc(100% - var(--input-padding)) center;
    background-repeat: no-repeat;
    background-size: 1em;
    font-size: 1em;

    &--multiply {
      background-image: none;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    outline: none;
    padding: var(--input-padding);
    box-sizing: border-box;
    border: 1px solid var(--color-gray);
    border-radius: 2px;

    &:focus {
      outline: none;
      border-color: var(--color-green);
      box-shadow: 0 0 2px 0 var(--color-green);
    }
  }

  &__error {
    display: block;
    margin: var(--input-margin) 0 0 0;
    color: var(--text-color-red);
  }

  &__caption {
    display: block;
    margin: var(--input-margin) 0 0 0;
    color: var(--text-color-light);
  }

  &--invalid {
    .input__label {
      color: var(--text-color-red);
    }

    .input__checkbox {
      & + .input__label:before {
        background-image: url('./components/input/checkbox--red.svg');
      }

      &:checked + .input__label:before {
        background-image: url('./components/input/checkbox--red-checked.svg');
      }
    }

    .input__radio {
      & + .input__label:before {
        background-image: url('./components/input/radio--red.svg');
      }

      &:checked + .input__label:before {
        background-image: url('./components/input/radio--red-checked.svg');
      }
    }

    .input__text,
    .input__textarea,
    .input__select {
      border-color: var(--color-red);
      box-shadow: 0 0 2px 0 var(--color-red);
    }
  }
}
