.subway {
  display: inline-block;
  padding-left: 1em;
  background-image: none;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 0.8em;

  &--msk-1 {
    background-image: url('components/subway/msk-1.svg');
  }
  &--msk-2 {
    background-image: url('components/subway/msk-2.svg');
  }
  &--msk-3 {
    background-image: url('components/subway/msk-3.svg');
  }
  &--msk-4 {
    background-image: url('components/subway/msk-4.svg');
  }
  &--msk-5 {
    background-image: url('components/subway/msk-5.svg');
  }
  &--msk-6 {
    background-image: url('components/subway/msk-6.svg');
  }
  &--msk-7 {
    background-image: url('components/subway/msk-7.svg');
  }
  &--msk-8 {
    background-image: url('components/subway/msk-8.svg');
  }
  &--msk-9 {
    background-image: url('components/subway/msk-9.svg');
  }
  &--msk-10 {
    background-image: url('components/subway/msk-10.svg');
  }
  &--msk-11 {
    background-image: url('components/subway/msk-11.svg');
  }
  &--msk-12 {
    background-image: url('components/subway/msk-12.svg');
  }
  &--msk-13 {
    background-image: url('components/subway/msk-13.svg');
  }
  &--msk-14 {
    background-image: url('components/subway/msk-14.svg');
  }
  &--msk-15 {
    background-image: url('components/subway/msk-15.svg');
  }
}
