.good-listing-description {
  color: var(--text-color-light);
  &__group {
    margin: 10px 0;
  }

  &__group-title {
    font-weight: bold;
  }

  &__row {
    margin: 2px 0;
  }

  &__unit { }

  &__value { }
}
