.bonus {
  padding: 5px 5px 5px 2em;
  background-image: url('./components/bonus/bonus--green.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.8em;

  &__amount {
    color: currentColor;
    font-weight: bold;
  }

  &__link { }

  &__info {
    color: var(--text-color-light);
  }

  &--extended {
    padding-left: calc(1.8em - 2px);
    background-image: none;
    line-height: 1.6;

    .bonus__amount {
      padding: 2px 5px;
      border-radius: 2px;
      background: var(--color-yellow);
    }
  }
}
