.tooltip {
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px dotted var(--color-green);
  padding: 0 1px;
  cursor: help;

  &:hover {
    background-color: lighten($interfaceGreen, 40%);
    border-bottom-color: transparent;
    &[data-tooltip-text]:after {
      visibility: visible;
      opacity: 1;
    }
  }

  &[data-tooltip-text]:after {
    content: attr(data-tooltip-text);
    position: absolute;
    bottom: 2.5em;
    left: -1em;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    padding: 15px;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    background: var(--color-white);
    pointer-events: none;
    transition: opacity var(--time) ease-in-out, visibility var(--time) ease-in-out;
  }
}
