.shipping {
  padding: 5px 5px 5px 2em;
  margin: 5px 0;
  color: var(--text-color-dark);
  background-image: url('./components/shipping/delivery--dark.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5em;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    &:hover,
    &:active {
      color: currentColor;
    }
  }

  &__time { }

  &__price {
    font-weight: bold;
  }

  &--pickup {
    background-image: url('./components/shipping/pickup--dark.svg');
  }
  &--delivery {
    background-image: url('./components/shipping/delivery--dark.svg');
  }
  &--express-delivery {
    background-image: url('./components/shipping/express-delivery--dark.svg');
  }
}
