.eldocard {
  display: inline-block;
  padding: 5px 5px 5px 2em;
  font: var(--font-main);
  font-weight: bold;
  color: var(--text-color-dark);
  background-image: url('./components/eldocard/eldocard.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5em;

  &__amount {
    color: var(--text-color-medium);
    white-space: nowrap;
    font-weight: bold;
  }

  &__notes {
    color: var(--text-color-light);
    font-weight: normal;
  }
}
