.rating {
  display: flex;
  align-items: baseline;
  white-space: nowrap;
  font: var(--font-main);
  cursor: default;

  &__star {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('./components/rating/star--full.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;

    &--full {
      background-image: url('./components/rating/star--full.svg');
    }

    &--empty {
      background-image: url('./components/rating/star--empty.svg');
    }
  }

  &__value {
    margin-right: 1.2em;
  }

  &__count {
    color: var(--text-color-light);
  }

  &__count-link {
    border-bottom-color: transparent;
  }

  &--wide {
    justify-content: space-between;

    .rating__value {
      margin-right: 0;
    }
  }

  &--size_s {
    font: var(--font-main);
  }

  &--size_m {
    font: var(--font-title);
  }

  &--size_l {
    font: var(--font-introduction);
  }
}
