body {
  margin: 0;
  font: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

h1 { font-size: 34px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }

p { font: var(--font-main); }

.text {
  font: var(--font-main);

  &--main {
    font: var(--font-main);
  }
  &--introduction {
    font: var(--font-introduction);
  }
  &--section {
    font: var(--font-section);
  }
  &--title {
    font: var(--font-title);
  }
  &--paragraph {
    font: var(--font-title);
  }
  &--secondary {
    font: var(--font-secondary);
  }
  &--highlight {
    font-weight: bold;
  }
  &--bold {
    font-weight: bold;
  }
  &--error {
    color: var(--text-color-red);
  }
  &--color_main {
    color: var(--text-color-main);
  }
  &--color_dark {
    color: var(--text-color-dark);
  }
  &--color_medium {
    color: var(--text-color-medium);
  }
  &--color_gray {
    color: var(--text-color-gray);
  }
  &--color_light {
    color: var(--text-color-light);
  }
  &--color_white {
    color: var(--text-color-white);
  }
  &--color_green {
    color: var(--text-color-green);
  }
  &--color_red {
    color: var(--text-color-red);
  }
}
