.delivery {
  padding: 5px 5px 5px 2.5em;
  margin: 5px 0;
  color: var(--text-color-dark);
  background-image: url('./components/delivery/delivery--dark.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5em;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__name {
    &:hover,
    &:active {
      color: currentColor;
      border-bottom-color: currentColor;
    }
  }

  &__time { }

  &__price { }

  &--pickup {
    background-image: url('./components/delivery/pickup--dark.svg');
  }
  &--delivery {
    background-image: url('./components/delivery/delivery--dark.svg');
  }
  &--express-delivery {
    background-image: url('./components/delivery/express-delivery--dark.svg');
  }

  &--detail {
    .delivery__price {
      font-weight: bold;
    }
  }
}
