.catalog-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding: 20px 65px 20px 15px;
  background-color: var(--color-light-2);
  &__icon {
    position: absolute;
    width: 36px;
  }
  &__title {
    font: var(--font-section);
    font-weight: bold;
    margin: 5px 0 10px 50px;
    &-link {
      color: var(--text-color-main);
      border-bottom: none;
    }
  }
  &__element {
    padding: 5px 0;
    margin-left: 50px;
    &-link {
      color: var(--text-color-medium);
      border-bottom: none;
    }
  }
}
